<div class="popup" id="signup-popup">
    <div class="popup-content signup-content">
        <div class="card text-center">
            <div id="back-icon" class="back-icon">
                <a href="/admin/dashboard" class="btn btn-secondary btn-icon">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>

            <div class="card-header">
                <h2>Reporte de Usuarios Registrados por Mes</h2>
            </div>
            <canvas id="usersReportChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const ctx = document.getElementById('usersReportChart').getContext('2d');
    const data = {
        labels: [{{#each usersByMonth}}{{@index}},{{/each}}],
        datasets: [{
            label: 'Usuarios Registrados',
            data: [{{#each usersByMonth}}{{this.count}},{{/each}}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };
    new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});
</script>





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .btn-icon {
        padding: 8px;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #6c757d;
        /* Color de fondo */
        color: white;
        /* Color del ícono */
        font-size: 18px;
        border: none;
    }

    .btn-icon:hover {
        background-color: #5a6268;
        /* Color de fondo al pasar el ratón */
        text-decoration: none;
    }
</style>