<div class="perspective effect-rotate-left">
  <div class="container">
    <div class="outer-nav--return"></div>

    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo">
            <img src="public/img/logo.png" alt="Global" width="400" height="300">
          </a>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>



        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Tu próxima<br>experiencia<br>Interactiva</h1>

                <button class="cta">
                  <a class="cta" href="/users/logout">
                    Salir
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path
                          d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                      </g>
                    </svg>
                    <span class="btn-background"></span></a>
                </button>

                <img src="public/img/astro.png" alt="Hola">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Explora el espacio</h3>
                  <p>Practica en nuestro simulador interactivo</p>
                </a>
                <a href="#0">
                  <h3>Cuestionario</h3>
                  <p>Pon en práctica tus aprendizajes.</p>
                </a>
                <a href="#0">
                  <h3>Opiniones</h3>
                  <p>Apreciamos tu punto de vista para mejorar nuestro sitio web.</p>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section" id="keplerSection">
            <div class="work">

              <h1 style="font-size:4em;">Leyes de Kepler</h1>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="/laws/FirstLaw">
                      <div class="slider--item-image">
                        <img src="public/img/Ley1.jpg" alt="Primera Ley">
                      </div>
                      <p class="slider--item-title">Primera Ley</p>
                      <p class="slider--item-description">La orbita de un planeta describe una elipse, con el Sol en uno
                        de sus focos.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="/laws/SecondLaw">
                      <div class="slider--item-image">
                        <img src="public/img/Ley2.jpg" alt="Segunda Ley">
                      </div>
                      <p class="slider--item-title">Segunda Ley</p>
                      <p class="slider--item-description">La línea que une al Sol con un planeta, se desplaza igual área
                        en igual tiempo. Es decir, el momento angular del Sol y del planeta es una constante.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="/laws/ThirdtLaw">
                      <div class="slider--item-image">
                        <img src="public/img/Ley3.jpg" alt="Tercera Ley">
                      </div>
                      <p class="slider--item-title">Tercera Ley</p>
                      <p class="slider--item-description"> La relación entre el período orbital de un planeta y su
                        distancia media al Sol es constante.</p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                    style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                        c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                        c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                    </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                    style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path
                        d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Pon<br>en practica<br>tus<br>conocimientos</h2>
                <a href="#0">Tu puedes, no olvides que eres el mejor !
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path
                          d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                      </g>
                    </svg>
                  </span>
                </a>
                <img src="public/img/Planet.png" alt="Planet" width="700" height="600"
                  style="display: block; margin: 0 auto;">
              </div>
              <div class="about--options">
                <a href="/laws/FormLaws">
                  <h3>Formulario</h3>
                </a>
                <!-- <a href="/laws/Form2Law">
                    <h3>Juego</h3>
                  </a>
                  <a href="/laws/Form3Law">
                    <h3>Articulos Informativos</h3>
                  </a> -->
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <h1>Mejores Puntuaciones</h1>
                  </div>
                  <ul class="modal--options">
                    <li><a href="/stacs/Search">Buscar Usuario</a></li>
                    <li><a href="/stacs/BestScores">Mis Puntajes</a></li>
                    <li><a href="/stacs/GlobalScores">Record Global de Puntajes</a></li>
                  </ul>
                  <br>
                  <ul class="modal--options">
                    <li><a href="/stacs/Peaks">Puntajes 20 / 20</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="hire">
              <h2>¿Como podriamos mejorar nuestra web?</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form action="/suggestions/save" method="POST" class="work-request">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" name="suggestions" value="diseño">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Mejoras en Diseño Visual y Estética
                    </label>
                    <input id="opt-2" type="checkbox" name="suggestions" value="animaciones">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Interactividad y Animaciones
                    </label>
                    <input id="opt-3" type="checkbox" name="suggestions" value="usuario">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Mejora en la Experiencia del Usuario
                    </label>
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" name="suggestions" value="tutoriales">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Contenido Educativo y Tutoriales
                    </label>
                    <input id="opt-5" type="checkbox" name="suggestions" value="rendimiento">
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Compatibilidad y Rendimiento
                    </label>
                    <input id="opt-6" type="checkbox" name="suggestions" value="analisis">
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Herramientas de Análisis y Datos
                    </label>
                  </span>
                </div>
                <input type="submit" value="Enviar Sugerencias">
              </form>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <ul class="outer-nav">
    <li class="is-active" id="main">Inicio</li>
    <li id="simulations">Leyes</li>
    <li id="practice">Practica</li>
    <li id="scores">Mejores Puntuaciones</li>
    <li id="contact">Contactanos</li>
  </ul>

</div>
