<nav class="l-side-nav navbar navbar-expand-lg navbar-dark bg-dark">

  <ul class="side-nav">
    <li class="is-active"><span>Inicio</span></li>
    <li><span>Leyes</span></li>
    <li><span>Practica</span></li>
    <li><span>Mejores Puntuaciones</span></li>
    <li><span>Contactanos</span></li>
  </ul>

</nav>
